mat-card {
  max-width: 480px;
  margin: 40px auto;
  padding: 24px;
}
mat-card-title,
mat-card-subtitle {
  margin-bottom: 8px;
}
mat-card-actions {
  display: flex;
  gap: 18px;
  margin-top: 12px;
}
