.book-card {
  max-width: 440px;
  margin: 32px auto;
  margin-bottom: 28px;
  padding: 16px;
}
mat-card-title, mat-card-subtitle {
  margin-bottom: 8px;
}
mat-card-actions {
  display: flex;
  gap: 18px;
  margin-top: 10px;
}
