<form class="signup-form">
  <div class="mat-card">
    <div class="mat-card-title">Sign Up</div>
    <div class="mat-form-field">
      <label class="mat-label">Name</label>
      <input class="mat-input" type="text" name="name" required minlength="3">
      <div class="mat-error">Name is required and must be at least 3 characters.</div>
    </div>
    <div class="mat-form-field">
      <label class="mat-label">Username</label>
      <input class="mat-input" type="text" name="username" required minlength="3">
      <div class="mat-error">Username is required and must be at least 3 characters.</div>
    </div>
    <div class="mat-form-field">
      <label class="mat-label">Password</label>
      <input class="mat-input" type="password" name="password" required minlength="5">
      <div class="mat-error">Password is required and must be at least 5 characters.</div>
    </div>
    <button class="mat-raised-button" type="submit">Sign Up</button>
    <div class="mat-progress-bar"></div>
  </div>
</form>
